#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button {
    margin-bottom: 20px; /* Añade espacio debajo del botón */
}

#ramdom {
    margin-top: 20px; /* Añade espacio encima del encabezado */
}


#container button {
    padding: 10px 20px; /* Ajustamos el relleno del botón */
    font-size: 16px; /* Tamaño de la fuente */
    border: none; /* Eliminamos el borde del botón */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    cursor: pointer; /* Cambiamos el cursor al pasar por encima del botón */
}
